<h1>Edit your post</h1>

{{!-- {{#if errors}}
    <span>Something went wrong:</span>
    <ul class="error-list pad-b-2">
        {{#each errors as |error|}}
            <li class="error-item">{{error}}</li>
        {{/each}}
    </ul>
{{/if}} --}}

<form method="post" action="/entries/{{post.id}}">
  <input type="hidden" name="_method" value="put">

  <label for="title-input">Title:</label>
  <input id="title-input" name="title" type="text" value="{{post.title}}">

  <label for="body-textarea">Content:</label>
  <textarea id="body-textarea" name="content" tabindex="2">{{post.content}}</textarea>

  <input type="submit" value="Update" tabindex="3">
</form>