<h3>{{post.title}}</h3>

<!--<span class="entry-date block font-3-4 c-lt-gray">Written on long_form_date(entry.createdAt)</span>-->
<span>{{post.content}}</span>

<ul>
  <li class="pipe-separate left">
    <a href="/entries/{{ post.id }}/edit">edit</a>
  </li>

  <li>
    <form method="post" action="/entries/{{post.id}}">
      <input type="submit" value="delete">
    </form>
  </li>
</ul>